
html {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.5rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin: 20px;
}