
html {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 1.3rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin: 30px;
}

.config {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

form .control-group {
    margin-top: 10px;
}