<article ng-click="next()">
    <p>
        Fra poco vedrai 30 palloncini, uno dopo l'altro, sullo schermo.
        Cliccando sul mouse gonfierai il palloncino. Ogni click del mouse gonfia il palloncino
        un po' più di prima.
    </p>

    <p>
        Ricorda, i palloncini scoppiano se li gonfi troppo. Puoi decidere tu quanto gonfiare ogni pallincino.
        Alcuni pallincini potrebbero esplodere al primo colpo, altri potrebbero non esplodere finchè non
        diventano grandi come tutto lo schermo.
    </p>

    <p>
        Guadagnerai SOLDI ogni volta che gonfi un palloncino. Ogni volta che gonfi il palloncino guadagni
        0.05 &euro; ma se il palloncino scoppia perdi tutti i soldi che avevi guadagnato per quel palloncino.
        Per incassare i soldi di un palloncino smetti di gonfiare prima che scoppi e clicca sul bottone
        "Incassa &euro;&euro;&euro;".
    </p>

    <p>
        Ogni volta che incassi i soldi di un palloncino oppure il palloncino esplode apparirà un nuovo
        palloncino.
    </p>

    <p>
        Alla fine dell'esperimento ti sarà data la quantità dei soldi che hai guadagnato durante il gioco.
    </p>

    <p>
        Permi il bottone sinistro del mouse per vedere il sommario.
    </p>
</article>