<audio id="blow" src="{{blowSound}}"></audio>
<audio id="pop" src="{{popSound}}"></audio>
<audio id="cash" src="{{cashSound}}"></audio>

<div style="width: 50%; bottom: 0; position: absolute;">
    <img id="balloon" class="center" ng-hide="balloonExploded" src="app/media/balloon-150128.svg"
         height="{{balloonHeight}}px">
    <img class="center" ng-show="balloonExploded" src="app/media/1374334179.svg">

    <p>
        <button class="center" style="margin-top: 20px" ng-show="!balloonExploded" ng-click="pump()">
            Gonfia il palloncino
        </button>
    </p>
</div>
<div style="left: 60%; bottom: 0; position: absolute;">
    <ul>
        <li>
            Guadagno potenziale: {{potentialEarnings | currency:'&euro;':2}}
        </li>
        <li>
            Palloncino numero: {{balloonNumber}}
        </li>
        <li>
            Numero di gonfiaggi: {{numberOfPumps}}
        </li>
        <li>
            Guadagni totali: {{totalWinnings | currency:'&euro;':2}}
        </li>
    </ul>
    <p>
        <button class="center" ng-click="collectWinnings()">Incassa &euro;&euro;&euro;</button>
    </p>
</div>
