<audio id="blow" src="app/media/Balloon%20Blowing%20Up-SoundBible.com-1989230335.mp3"></audio>
<audio id="pop" src="app/media/Balloon%20Popping-SoundBible.com-1247261379.mp3"></audio>
<audio id="cash" src="app/media/Cash%20Register%20Cha%20Ching-SoundBible.com-184076484.mp3"></audio>

<div style="width: 50%; bottom: 0; position: absolute;">
    <img id="balloon" class="center" src="app/media/balloon-150128.svg" height="{{balloonHeight}}px">

    <p>
        <button class="center" style="margin-top: 20px" ng-click="pump()">Gonfia il palloncino</button>
    </p>
</div>
<div style="left: 60%; bottom: 0; position: absolute;">
    <ul>
        <li>
            Guadagno potenziale: {{potentialEarnings | currency:'&euro;':2}}
        </li>
        <li>
            Palloncino numero: {{balloonNumber}}
        </li>
        <li>
            Numero di gonfiaggi: {{numberOfPumps}}
        </li>
        <li>
            Guadagni totali: {{totalWinnings | currency:'&euro;':2}}
        </li>
    </ul>
    <p>
        <button class="center" ng-click="collectWinnings()">Incassa &euro;&euro;&euro;</button>
    </p>
</div>