<div class="text">
    <p>
        Fra poco vedrai sullo schermo {{maxBalloons}} palloncini, uno dopo l'altro.
        Premendo il tasto sinistro del mouse sul bottone <b>Gonfia il palloncino</b> gonfierai il palloncino.
        Ogni click del mouse gonfia il palloncino un po' più di prima.
    </p>

    <p>
        Ricorda, i palloncini scoppiano se li gonfi troppo. Puoi decidere tu quanto gonfiare ogni
        palloncino. Alcuni palloncini potrebbero esplodere al primo colpo, altri potrebbero non esplodere
        finchè non diventano grandi come tutto lo schermo.
    </p>

    <p>
        Ogni volta che gonfierai un palloncino guadagnerai <b>{{ winningsPerBalloon | currency:'&euro;' }}</b> ma se il palloncino
        scoppia perdi i soldi che avevi guadagnato per quel palloncino.
        Per incassare i soldi di un palloncino smetti di gonfiare prima che scoppi e clicca sul bottone
        <b>Incassa &euro;&euro;&euro;</b>.
    </p>

    <p>
        Ogni volta che incassi i soldi di un palloncino oppure il palloncino scoppia apparirà un nuovo
        palloncino.
    </p>

    <p>
        Alla fine dell'esperimento ti sarà data la quantità di soldi che hai guadagnato durante il gioco.
    </p>

    <p>
        Permi il bottone sinistro del mouse per vedere un riassunto delle istruzioni.
    </p>
</div>