<div class="text">
    <h3>Riassunto</h3>
    <ul>
        <li>Guadagnerai <b>{{winningsPerPump|currency}}</b>
            ogni volta che gonfi un palloncino senza che questo scoppi
        </li>
        <li>Quando premi <b>Incassa &euro;&euro;&euro;</b> accumuli i soldi per quel palloncino</li>
        <li>Quando il palloncino esplode perdi i soldi di quel palloncino</li>
        <li>Ci sono in tutto {{maxBalloons}} palloncini</li>
        <li>Alla fine ti saranno dati esattamente i soldi che hai guadagnato durante il gioco</li>
    </ul>
    <p>Hai qualche domanda?</p>

    <p>Premi il bottone sinistro del mouse per iniziare.</p>
</div>