<div style="width: 50%; bottom: 20px; position: absolute">
  <img src="app/balloon-150128.svg">
  <button class="center" style="margin-top: 20px" ng-click="pump()">Gonfia il palloncino</button>
</div>
<div style="margin-left: 50%; width: 50%; bottom: 20px; position: absolute">
  <ul>
    <li>
      Guadagno potenziale: {{potentialEarnings}}
    </li>
    <li>
      Palloncino numero: {{balloonNumber}}
    </li>
    <li>
      Numero di gonfiaggi: {{numberOfPumps}}
    </li>
    <li>
      Guadagni totali: {{totalWinnings}}
    </li>
  </ul>
  <p>
    <button class="center" ng-click="collectWinnings()">Incassa &euro;&euro;&euro;</button>
  </p>
</div>